pom.xml
CMakeLists.txt
cmake-build-debug/
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/assignment2/v16/ipch/AutoPCH/f5477bd2190a88b6/CAR.ipch
.vs/assignment2/v16/ipch/AutoPCH/a445ad5d2782271d/BICYCLE.ipch
.vs/assignment2/v16/ipch/AutoPCH/6f99ed74a468e308/POWEREDVEHICLE.ipch
.vs/assignment2/v16/ipch/AutoPCH/3da2d242b54f0bd5/JET.ipch
.vs/assignment2/v16/ipch/AutoPCH/3a5060c9462cce06/VEHICLE.ipch
.vs/assignment2/v16/Browse.VC.opendb
.vs/assignment2/v16/Browse.VC.db
.vs/assignment2/v16/.suo
